.env
/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/debugbar
/vendor

/.idea

/temp
updates/

resources/lang/en.json

updates.zip
ecommerce.zip
install.zip

public/uploads.zip

/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
composer.json
composer.lock
