.env.php
/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/debugbar

/temp
updates/

resources/lang/en.json

updates.zip
ecommerce.zip
install.zip
/nbproject/private/
/nbproject

public/uploads.zip
